::-webkit-scrollbar {
  width: 10px
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.edvora {
  background: #292929;
}